<!DOCTYPE html>
<html>
    <head>
        <title>Bornais-Ly</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta property="og:site_name" content="Bornais-Ly" />
        <meta property="og:title" content="Bornais-Ly URL Shortener" />
        <meta property="og:description" content="Simple URL shortener for the Bornais.ca domain (better than using subdomains for links)" />
        <meta property="og:type" content="website" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>